In [1]:
import pandas as pd
import plotly.graph_objs as go

In [2]:
data = pd.read_csv('BizOps_Set2.csv')

In [3]:
data.head()

,org_account_id,transaction_type,transction_date,amount,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,938,CHARGE,10/7/18,2560.0,NaN,NaN,NaN
1,938,CHARGE,10/12/18,3200.0,NaN,NaN,NaN
2,938,CHARGE,10/16/18,5120.0,NaN,NaN,NaN
3,938,CHARGE,10/21/18,7680.0,NaN,NaN,NaN
4,938,CHARGE,10/25/18,3200.0,NaN,NaN,NaN

In [4]:
data.transaction_type.unique()

array(['CHARGE', 'CREDIT', 'PARTIAL_CREDIT'], dtype=object)

In [5]:
map_ = {'CHARGE': 'Revenue',
      'CREDIT': 'Credit'}
data.transaction_type = data.transaction_type.map(map_)

In [6]:
data.transaction_type.unique()

array(['Revenue', 'Credit', nan], dtype=object)

In [13]:
to_drop = data[data.transaction_type.isnull()==True].index
data.drop(to_drop, inplace=True)

In [14]:
data.transaction_type.unique()

array(['Revenue', 'Credit'], dtype=object)