In [1]:
import pandas as pd
import plotly.graph_objs as go

In [28]:
data1 = pd.read_csv('BizOps_Set1.csv')
data2 = pd.read_csv('BizOps_Set2.csv')

In [29]:
combined = pd.merge(left=data1, right=data2, left_on = 'org_account_id', right_on='org_account_id')

In [30]:
combined

,org_account_id,org_account_name,org_account_status,sport_type,program_type,sales_rep,customer_success_manager,activation_date,months_on_platform,churn_date,transaction_type,transction_date,amount,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,6025.0,org_1,Active,Soccer,Club,Alex,Bob,6/1/15,52.0,NaN,PARTIAL_CREDIT,10/1/18,108423.11,NaN,NaN,NaN
1,6025.0,org_1,Active,Soccer,Club,Alex,Bob,6/1/15,52.0,NaN,CHARGE,10/2/18,5426.76,NaN,NaN,NaN
2,6025.0,org_1,Active,Soccer,Club,Alex,Bob,6/1/15,52.0,NaN,CHARGE,10/3/18,16352.56,NaN,NaN,NaN
3,6025.0,org_1,Active,Soccer,Club,Alex,Bob,6/1/15,52.0,NaN,CHARGE,10/4/18,10467.77,NaN,NaN,NaN
4,6025.0,org_1,Active,Soccer,Club,Alex,Bob,6/1/15,52.0,NaN,CHARGE,10/5/18,9162.72,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13371,16023.0,org_50,Churn,Basketball,Tournament,Gretchen,Bob,9/1/16,37.0,4/1/19,CHARGE,11/29/18,13683.20,NaN,NaN,NaN
13372,16023.0,org_50,Churn,Basketball,Tournament,Gretchen,Bob,9/1/16,37.0,4/1/19,CHARGE,12/13/18,13683.20,NaN,NaN,NaN
13373,16023.0,org_50,Churn,Basketball,Tournament,Gretchen,Bob,9/1/16,37.0,4/1/19,CHARGE,1/9/19,3420.80,NaN,NaN,NaN
13374,16023.0,org_50,Churn,Basketball,Tournament,Gretchen,Bob,9/1/16,37.0,4/1/19,CHARGE,1/10/19,13683.20,NaN,NaN,NaN
13375,16023.0,org_50,Churn,Basketball,Tournament,Gretchen,Bob,9/1/16,37.0,4/1/19,CHARGE,1/14/19,39041.28,NaN,NaN,NaN

In [31]:
combined.transaction_type.unique()

array(['PARTIAL_CREDIT', 'CHARGE', 'CREDIT'], dtype=object)

In [32]:
map_ = {'CHARGE': 'Revenue',
      'CREDIT': 'Credit'}
combined.transaction_type = combined.transaction_type.map(map_)

In [33]:
combined.transaction_type.unique()

array([nan, 'Revenue', 'Credit'], dtype=object)

In [34]:
to_drop = combined[combined.transaction_type.isnull()==True].index
combined.drop(to_drop, inplace=True)

In [35]:
combined.transaction_type.unique()

array(['Revenue', 'Credit'], dtype=object)

In [36]:
combined.columns

Index(['org_account_id', 'org_account_name', 'org_account_status',
       'sport_type', 'program_type', 'sales_rep', 'customer_success_manager',
       'activation_date', 'months_on_platform', 'churn_date',
       'transaction_type', 'transction_date', 'amount', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [40]:
[{'label': org, 'value': org} for org in combined.org_account_name.unique()]

[{'label': 'org_1', 'value': 'org_1'},
 {'label': 'org_2', 'value': 'org_2'},
 {'label': 'org_3', 'value': 'org_3'},
 {'label': 'org_4', 'value': 'org_4'},
 {'label': 'org_5', 'value': 'org_5'},
 {'label': 'org_6', 'value': 'org_6'},
 {'label': 'org_7', 'value': 'org_7'},
 {'label': 'org_8', 'value': 'org_8'},
 {'label': 'org_9', 'value': 'org_9'},
 {'label': 'org_10', 'value': 'org_10'},
 {'label': 'org_11', 'value': 'org_11'},
 {'label': 'org_12', 'value': 'org_12'},
 {'label': 'org_13', 'value': 'org_13'},
 {'label': 'org_14', 'value': 'org_14'},
 {'label': 'org_15', 'value': 'org_15'},
 {'label': 'org_16', 'value': 'org_16'},
 {'label': 'org_17', 'value': 'org_17'},
 {'label': 'org_18', 'value': 'org_18'},
 {'label': 'org_19', 'value': 'org_19'},
 {'label': 'org_20', 'value': 'org_20'},
 {'label': 'org_21', 'value': 'org_21'},
 {'label': 'org_22', 'value': 'org_22'},
 {'label': 'org_23', 'value': 'org_23'},
 {'label': 'org_24', 'value': 'org_24'},
 {'label': 'org_25', 'value': 'org_25'},
 {'label': 'org_26', 'value': 'org_26'},
 {'label': 'org_27', 'value': 'org_27'},
 {'label': 'org_28', 'value': 'org_28'},
 {'label': 'org_29', 'value': 'org_29'},
 {'label': 'org_30', 'value': 'org_30'},
 {'label': 'org_31', 'value': 'org_31'},
 {'label': 'org_32', 'value': 'org_32'},
 {'label': 'org_33', 'value': 'org_33'},
 {'label': 'org_34', 'value': 'org_34'},
 {'label': 'org_35', 'value': 'org_35'},
 {'label': 'org_36', 'value': 'org_36'},
 {'label': 'org_37', 'value': 'org_37'},
 {'label': 'org_38', 'value': 'org_38'},
 {'label': 'org_39', 'value': 'org_39'},
 {'label': 'org_40', 'value': 'org_40'},
 {'label': 'org_41', 'value': 'org_41'},
 {'label': 'org_42', 'value': 'org_42'},
 {'label': 'org_43', 'value': 'org_43'},
 {'label': 'org_44', 'value': 'org_44'},
 {'label': 'org_45', 'value': 'org_45'},
 {'label': 'org_46', 'value': 'org_46'},
 {'label': 'org_47', 'value': 'org_47'},
 {'label': 'org_48', 'value': 'org_48'},
 {'label': 'org_49', 'value': 'org_49'},
 {'label': 'org_50', 'value': 'org_50'}]

In [54]:
combined.index = pd.to_datetime(combined.transction_date)

In [67]:
grouped = combined.groupby(by=['org_account_name','transaction_type',pd.Grouper(freq='M'), ]).agg('sum')['amount']